apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
  namespace: default
  labels:
    name: website
spec:
  replicas: 2
  selector:
    matchLabels:
      name: website
  template:
    metadata:
      labels:
        name: website
    spec:
      containers:
      - name: website
        image: ghcr.io/sudomateo/website:main-c68456a5-1768658451 # {"$imagepolicy": "flux-system:website"}
        ports:
        - containerPort: 80
          name: http
---
apiVersion: v1
kind: Service
metadata:
  name: website
  namespace: default
spec:
  selector:
    name: website
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: http
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageRepository
metadata:
  name: website
  namespace: flux-system
spec:
  image: ghcr.io/sudomateo/website
  interval: 5m0s
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: website
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: website
  filterTags:
    pattern: '^main-[a-f0-9]+-(?P<timestamp>[0-9]+)'
    extract: '$timestamp'
  policy:
    numerical:
      order: asc
---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageUpdateAutomation
metadata:
  name: website
  namespace: flux-system
spec:
  interval: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: me@matthewsanabria.dev
        name: "Matthew Sanabria"
      messageTemplate: "flux: automated image update"
    push:
      branch: main
  update:
    path: ./k8s/talos-k8s/website.yaml
    strategy: Setters
